# ==========================================
# Configuración General del Entorno
# ==========================================

# Entorno de ejecución de la aplicación (ej: development, production, testing)
ENVIRONMENT=development

# Tipo de dispositivo para procesamiento (ej: cpu, cu130)
DEVICE_TYPE=cpu

# Habilita o deshabilita el modo de depuración (true o false)
DEBUG=true

# Nivel de detalle de los registros/logs (ej: debug, info, warn, error)
LOG_LEVEL=info

# ==========================================
# Información del Proyecto
# ==========================================

# Nombre del proyecto
PROJECT_NAME="cylinder-counting-cv"

# Versión actual del proyecto
PROJECT_VERSION="0.0.1"

# ==========================================
# Configuración de la API y Frontend
# ==========================================

# Prefijo de la ruta para los endpoints de la API
API_V1_STR="/api/v1"

# ==========================================
# Configuración de la Base de Datos (PostgreSQL)
# ==========================================

# Nombre de usuario de la base de datos PostgreSQL
POSTGRES_USER=postgres

# Contraseña del usuario de PostgreSQL (Cambiar por una segura en tu .env local)
POSTGRES_PASSWORD="tu_contraseña_aqui"

# Dirección del servidor de la base de datos (ej: localhost o una dirección IP/dominio)
POSTGRES_SERVER=localhost

# Puerto de conexión a PostgreSQL (por defecto es 5432)
POSTGRES_PORT=5432

# Nombre de la base de datos a utilizar para el proyecto
POSTGRES_DB=sigap_db